.container-fluid {
  background-color:black;

}
.app-not-logged-in {
  font-family: 'Playfair Display', serif;
  /* font-family: 'Helvetica', sans-serif; */
  color:white;
  background-image: url("/static/img/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.app-logged-in {
  font-family: 'Playfair Display', serif;
  color:black;
  background-image: url("/static/img/notebook.png");
}

.testimonial-group > .row {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.testimonial-group > .row > .col-xs-6 {
  display: inline-block;
  float: none;
}

/* .container {
  min-height: 100%;
} */

/* body {
  height: 100%;
} */

/* .fill {
  min-height: 100%;
  height: 100%;
} */



h1 {
  text-align: center;
  /* background-color:gray; */
}


