.container-fluid {
  padding-right: 0px;
  padding-left: 0px;

}
.app-not-logged-in {
  font-family: 'Playfair Display', serif;
  /* font-family: 'Helvetica', sans-serif; */
  color:white;
  background-image: url("/static/img/arch.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.app-logged-in {
  font-family: 'Playfair Display', serif;
  color:white;
  /* border-color: black; */
  background-image: url("/static/img/arch.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.testimonial-group > .row {
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.testimonial-group > .row > .col-xs-6 {
  display: inline-block;
  float: none;
}

.dashboard {
  /* background-image: url("/static/img/bedge_grunge.png"); */
  background-image: url("/static/img/wood.png");
}

#google-map {
  color:black;

}

h1 {
  text-align: center;
  /* background-color:gray; */
}

.card {
  background-color: none;
}

.td {
  font-weight: bold;
}

.a {
  color:black
}

.college-info {
  /* background-image: url("/static/img/school.png"); */
  background-color: bisque;
  background-repeat: repeat;
  background-position: left top;
  border-radius: 25px;

  /* background-image: url("/static/img/notebook.png"); */
  background-image: url("/static/img/retina_wood_@2X.png");
  color: black

}